@media (max-width: 769px) {
    main::after {
        background: linear-gradient(0deg, #000 20%, rgba(0, 0, 0, 0.00) 65%) no-repeat;
        width: 100vw;
    }

    main .versao .imagem {
        height: 85%;
    }

    .logo {
        display: none;
    }

    .conteudo {
        justify-content: flex-end;
        text-align: center;
        left: 0;
        top: -12%;
        max-width: 100vw;
        padding: 30px;
    }

    .conteudo .ano-versao {
        font-size: 36px;
    }

    .conteudo .descricao {
        max-width: 700px;
    }

    .botoes {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
    }

    .botoes .botao img {
        max-width: 60px;
    }
}

@media (max-width: 425px) {
    main .versao .imagem {
        height: auto;
    }

    .logo {
        display: none;
    }

    .conteudo .logo {
        width: 120px;
        height: 50px;
    }

    .conteudo {
        top: -20%;
    }

    .ano-versao, .descricao {
        font-size: 22px;
    }

    .botoes {
        padding: 20px;
        top: -5%;
    }

    .botoes .botao img {
        max-width: 50px;
    }
}